//Variable file
@import 'style_var.scss';

//Extend file
@import 'style_ext.scss';

//Mixin file
@import 'style_mix.scss';

//Styles of "Slider" block
.slider {
    position: relative;
    @include padding-block($pb: 48px);
    &__slides {
    }

    &__slide {
        @extend %flex-block;
        background-color: $thirtyBlockBackground;
    }

    &__image-wrapper {
        min-width: 49%;
        height: 490px;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    &__text_wrapper {
        margin-left: 25px;
        @extend %flex-block;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        padding: 25px;
    }
    &__title {
        max-width: 471px;
        @include texts($color: #fff, $family: Cardo, $size: 36px, $lHeight: 57.5px);
        font-style: italic;
        text-transform: capitalize;
    }

    &__subtitle {
        @include titles($t-align:start, $family:Raleway, $size:13px, $weight:700, $lHeight:28px);
        width: 100%;
    }
}

.swiper {

    &-pagination-bullet {
        width: 14px;
        height: 14px;
        margin-right: 25px;
        background-color: $primaryTextColor;
        border: 1px solid $forthBlcokBackground;
    }
    &-pagination-bullet-active {
        background-color: $forthBlcokBackground;
    }
    &-horizontal>&-pagination-bullets {
        bottom: 0px;
    }
    &-horizontal>&-pagination-bullets &-pagination-bullet{
        margin-right: 25px;
    }
}
