@mixin padding-block($pt:0px, $pr:0px, $pb:0px, $pl:0px) {
    padding: $pt $pr $pb $pl;
}

@mixin titles($t-align:center, $color:$primaryTextColor, $family:Raleway, $size:64px, $weight:900, $lHeight:normal, $transform:uppercase){
    text-align: $t-align;
    color: $color;
    font-family: $family;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $lHeight;
    text-transform: $transform;
}

@mixin texts($color:#000, $family:Raleway, $size:18px, $weight:400, $lHeight:normal){
    color: $color;
    font-family: $family;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $lHeight;
}

@mixin download-button($bg-color:$mainColorButton,$maxWidthButton:370px, $fontSizeButton:24px, $pb:26px, $transType:linear){
    background-color: $bg-color;
    max-width: $maxWidthButton;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: $fontSizeButton;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    padding: $pb;
    border: none;
    transition: .25s $transType;
}

@mixin grid-block($columnGridWidth:1fr, $columnGridGap:0px, $rowGridGap:0px, $columnGridCount:3) {
    display: grid;
    grid-template-columns: repeat($columnGridCount, $columnGridWidth);
    column-gap: $columnGridGap;
    row-gap: $rowGridGap;
}