// Restart file
@import 'style_res.scss';

//Variable file
@import 'style_var.scss';

//Extend file
@import 'style_ext.scss';

//Mixin file
@import 'style_mix.scss';

//Styles of Banner block
.banner{
    &__container{
        @extend %container-size;
        @extend %flex-block;
        flex-direction: column;
        position: relative;
        z-index: 3;
    }
    background-image: url(/src/media/header/bg.png);
    background-size: cover;
    position:relative;
    z-index: 0;
    background-position: center;
    width: 100%;
    height: 100%;
    @include padding-block($pb:120px);
    
    &::after{
        @extend %block-cover;
    }
    &__title{
        @include titles;
        margin-bottom: 31px;
    }
    &__subtitle{
        @include titles($size:24px, $weight:400, $transform:none);
        margin-bottom: 80px;
    }
    &__button{
        @include download-button;
        &:hover{
            cursor: pointer;
        }
    }
}

.header{

    &__container{
        @extend %container-size;
        @extend %flex-block;
        justify-content: space-between;
        border-bottom: 1px solid $borderBottomColor;
        margin-bottom: 130px;
        position: relative;
        z-index: 3;
    }
    &__items{
        @extend %flex-block;
    }
    &__item{
        @extend %flex-block;
        padding: 35px 15px;
        min-width: 134px;
        &-active{
            border-bottom: 3px solid $borderBottomColor;
        }
    }
    &__link{
        @extend %link-settings;
    }
}
.logo__link{
    @extend %flex-block;
}